body {
    background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 100% );
}

.container {
    width:300px;
    height: 220px;
    border: 1px solid black;
    margin:268px auto;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    border-radius: 5px;
    box-shadow: 7px 7px 7px rgba(0,0,0,0.8);
    padding: 10px;
}

h1,h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1:hover {
    transform: translateX(0.15em);
}

button {
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
.btn:hover, .btn:focus {
    color: rgb(80, 180, 228);
    outline: 0;
}